@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row mt-5" aria-labelledby="aspnetTitle">
        <h2 id="title">Seleccione una opcion:</h2>
        <div class="menu-sec row">
            <div class="menu-btn">
                @Html.ActionLink("Consulta", "Consulta", "Home", new { area = "" }, new { @class = "" })
            </div>
            <div class="menu-btn">
                @Html.ActionLink("Registro", "Registro", "Home", new { area = "" }, new { @class = "" })
            </div>
            </div>
    </section>
</main>